################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/devcon14demo/obj/Debug
/devcon14demoService/bin
/devcon14demoService/obj/Debug
*.suo
/devcon14demoDroid/obj/Debug
/devcon14demo/bin/Debug
/packages
/devcon14demoDroid/bin/Debug
/devcon14demo/bin/Release
/devcon14demo/obj/Release
/devcon14demoDroid/bin/Release
/devcon14demoDroid/obj/Release
*.user
/devcon14demoService/obj/Release/Package/PackageTmp
/devcon14demoService/obj/Release
*.mdf
*.ldf
*.pubxml
/Offline/packages
